<div class="col-sm-12">

  <div>
    <mat-form-field class="search" color="primary">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar Pessoa Física">
      <!-- <mat-icon matSuffix color="primary">find_in_page</mat-icon> -->
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cpf}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="data_nascimento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data de Nascimento </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ formatando(row.data_nascimento) }} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="detailPessoaFisica(row.id);">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <br>
  <div style="text-align: right">
      <button mat-raised-button color="primary" (click)="detailPessoaFisica(-1);">
        <mat-icon>add</mat-icon>Cadastrar
      </button>
    </div>
  

</div>