@import '~@angular/material/theming';
@include mat-core();

$custom-accent: mat-palette($mat-orange, 900);
$custom-primary:  mat-palette($mat-purple, 900);
$custom-warn:    mat-palette($mat-red, 500);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);
