<h2 mat-dialog-title style="text-align: center">Excluir {{moduloName}}</h2>
<mat-dialog-content style="text-align: center">Você tem certeza?</mat-dialog-content>
<mat-dialog-actions>

  <table style="width: 100%; text-align: center">
    <tr>
      <td>
        <button mat-dialog-close mat-raised-button color="accent">
          Cancelar
        </button>

      </td>
      <td>
        <button [mat-dialog-close]="true" mat-raised-button color="primary" (click)="ok();">
          OK
        </button>

      </td>
    </tr>
  </table>

</mat-dialog-actions>