<mat-toolbar>
  <mat-toolbar-row>
    <span class="spacerHeader">Endereco</span>
    <i class="material-icons md-48" (click)="onNoClick()" style="cursor: pointer;">
      clear
    </i>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<form #formP="ngForm">

  <div class="row">

    <mat-form-field class="col-sm-4" color="primary">
      <input matInput placeholder="CEP" id="cep" name="cep" #cep="ngModel" [(ngModel)]="endereco.cep"
        (blur)="pesquisacep()">
    </mat-form-field>

    <mat-form-field class="col-sm-8" color="primary">
      <input matInput placeholder="Logradouro" id="logradouro" name="lograudoro" #logradouro="ngModel"
        [(ngModel)]="endereco.logradouro">
    </mat-form-field>


  </div>

  <div class="row">


    <mat-form-field class="col-sm-4" color="primary">
      <input matInput placeholder="Bairro" id="bairro" name="bairro" #bairro="ngModel" [(ngModel)]="endereco.bairro">
    </mat-form-field>

    <mat-form-field class="col-sm-4" color="primary">
      <input matInput placeholder="Cidade" id="cidade" name="cidade" #cidade="ngModel" [(ngModel)]="endereco.cidade">
    </mat-form-field>

    <mat-form-field class="col-sm-4" color="primary">
      <input matInput placeholder="UF" id="uf" name="uf" #uf="ngModel" [(ngModel)]="endereco.uf">
    </mat-form-field>



  </div>



  <!-- <div class="row">
    <mat-form-field appearance="outline" class="col-sm-12">
      <mat-label>Telefones</mat-label>

      <mat-chip-list #chipList aria-label="Telefone selection">
        <mat-chip *ngFor="let telefone of telefones" [selectable]="selectable" [removable]="removable"
          (removed)="removeTelefone(telefone)">
          {{telefone}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [textMask]="{ mask: mask9 }" 
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTelefone($event)">
      </mat-chip-list>

      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Digite vírgula ou enter para adicionar mais telefones</mat-hint>
    </mat-form-field>
  </div> -->
  <br>

  <div class="button-center">
    <!-- <button mat-raised-button color="accent"><mat-icon>close</mat-icon>Cancelar</button> -->
    <button mat-raised-button color="primary" (click)="addEndereco();" *ngIf="endereco.id == null">
      <mat-icon>check</mat-icon>Cadastrar
    </button>

    <!-- Botão suspenso. Só vai aparecer se houver alteração em algum dado -->
    <div [ngClass]="{'invisibleButton': !formP.dirty}">
      <button mat-raised-button color="accent" (click)="updateEndereco()" *ngIf="endereco.id">
        <i class="fa fa-spinner fa-spin fa-fw fa-lg"></i>
        Incluir Alteração
      </button>
    </div>
    <!-- END -->

    &nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="deleteEndereco();" *ngIf="endereco.id">
      <mat-icon>delete</mat-icon>Excluir
    </button>
  </div>

</form>