$topnav-background-color: #f7f7f7;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: rgb(49, 45, 53);
            &:hover {
                color: rgb(250, 112, 0);
            }
        }
    }
    
}

.menu-item {

    position: relative;
    display: block;
    padding: 0px;
    background-color: #fff;
    border: 0px;
    

    a {
        border: 0;
        border-radius: 0;
        color: rgb(65, 62, 62);
        text-decoration: none;
        margin-left: 10px;
        font-weight: bold;
        font-size: 15px;
        
        
    }
    a:hover {
        color: rgb(94, 16, 146);
        text-decoration-line: underline;
        text-decoration-style: solid;
    }
    a.router-link-active {
        color: rgb(94, 16, 146);
        text-decoration-style: solid;
    }
}
