<nav class="navbar navbar-expand-lg fixed-top">
        <a href="#"> <img src="../../../../assets/images/LogoSamaia.png" height="42px" style="padding-left: 10px" > </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
           
            <li class="nav-item" >
                <a href="javascript:void(0)" class="nav-link">
                    <i class="fa fa-user"></i> Efraim Farias
                </a>
                
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<div style="text-align: center" class="menu-item">
        
        <a routerLink="/pessoa-fisica" [routerLinkActive]="['router-link-active']">
            <span>{{ 'Pessoa Física' | translate }}</span>
        </a>
        
</div>
