<h2 class="title"><small>Endereços</small></h2>

<div class="mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="logradouro">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Logradouro </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.logradouro}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bairro">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Bairro </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.bairro}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cidade">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cidade}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="uf">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UF </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.uf}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cep">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CEP </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cep}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="addUpEndereco(row.id)">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<div style="text-align: right">
  <button mat-raised-button color="primary" (click)="addUpEndereco();">
    <mat-icon>add</mat-icon>Novo Endereço
  </button>
</div>