//Percentual das colunas
mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 35%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    flex: 0 0 20%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    flex: 0 0 20%;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
    flex: 0 0 15%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 10%;
}
//END Percentual das Colunas