/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}


/****** As 3 cores abaixo são a configuração para o SNACKER de mensagens *****/
snack-bar-container.snackbar {
  background: #22201f;
  color: rgb(250, 250, 250);
  font-weight: bolder;
}

.mat-snack-bar-container {
  max-width: 100% !important;
}

button.mat-simple-snackbar-action { 
  color: rgb(4, 156, 144);
  background-color: rgb(205, 136, 90); 

}
/************END 3 cores



/**** TABLE LIST ******/
.title {
  
  color: #e65100;
  text-align: left;
}

.search {
    font-size: 16px;
    width: 100%;
  }
 
  
.mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-sort-header-button {
    font-size: 14px !important;
  }

  .mat-header-row {
    background: #9e9e9e61;
    
  }

  .mat-header-cell {
    font-weight: 900 !important;
    font-size: 14px !important;
   
  }

mat-row:hover {
    background-color: rgb(194, 179, 236);
    cursor: pointer;
    //font-weight: bolder;
  }

/*****END TABLE*******/


/***** ADD DIALOG *****/
.windowData .mat-dialog-container{
  padding: 18px;
  //background-color: transparent;
  border-radius: 10px;
}

.button-center {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.spacerHeader {
  flex: 1 1 auto;
  text-align: center;
  color: #e65100;
}

.mat-toolbar-multiple-rows {

  min-height: 45px !important;
  max-height: 45px !important;
}



/***** END ADD DIALOG ***/



.invisibleButton{
  display: none;
}
