<div class="col-sm-12">

  <form #formP="ngForm">

    <h2 class="title"><small>Dados Gerais </small></h2>
    <br>

    <div class="row">

      <mat-form-field class="col-sm-1">
        <input matInput placeholder="Id" id="id" name="id" #id="ngModel" [(ngModel)]="pessoaFisica.id" disabled>
      </mat-form-field>

      <mat-form-field class="col-sm-2">
        <input matInput placeholder="Data de Cadastro" name="data_cadastro" [(ngModel)]="data_cadastro" disabled>
      </mat-form-field>

      <mat-form-field class="col-sm-9" color="primary">
        <input matInput placeholder="Nome" id="nome" name="nome" #nome="ngModel" [(ngModel)]="pessoaFisica.nome">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-sm-3" color="primary">
        <input matInput placeholder="CPF" id="cpf" name="cpf" #cpf="ngModel" [(ngModel)]="pessoaFisica.cpf"
          type="number">
        <mat-hint align="end">Somente números</mat-hint>
      </mat-form-field>

      <mat-form-field class="col-sm-6" color="primary">
        <input matInput placeholder="Email" id="email" name="email" #email="ngModel" [(ngModel)]="pessoaFisica.email">
      </mat-form-field>

      <mat-form-field class="col-sm-3" color="primary">
        <input matInput [matDatepicker]="startPicker" placeholder="Data de Nascimento" (dateChange)="update($event)"
          [value]="data_nascimento.value" disabled />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker disabled="false" startView="multi-year"></mat-datepicker>
      </mat-form-field>

    </div>

    <br>

    <div class="row">
      <mat-form-field appearance="outline" class="col-sm-12">
        <mat-label>Telefones</mat-label>

        <mat-chip-list #chipList aria-label="Telefone selection">
          <mat-chip *ngFor="let telefone of telefones" [selectable]="selectable" [removable]="removable"
            (removed)="removeTelefone(telefone)">
            {{telefone}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input [textMask]="{ mask: mask9 }" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTelefone($event)">
        </mat-chip-list>

        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Digite vírgula ou enter para adicionar mais telefones</mat-hint>
      </mat-form-field>
    </div>


    <div class="button-center">
      <!-- <button mat-raised-button color="accent"><mat-icon>close</mat-icon>Cancelar</button> -->
      <button mat-raised-button color="primary" (click)="addPessoaFisica();" *ngIf="pessoaFisica.id == null">
        <mat-icon>check</mat-icon>Cadastrar
      </button>

      <!-- Botão suspenso. Só vai aparecer se houver alteração em algum dado -->
      <div [ngClass]="{'invisibleButton': !formP.dirty}">
        <button mat-raised-button color="accent" (click)="updatePessoaFisica()" *ngIf="pessoaFisica.id">
          <i class="fa fa-spinner fa-spin fa-fw fa-lg"></i>
          Incluir Alteração
        </button>
      </div>
      <!-- END -->

      &nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="deletePessoaFisica();" *ngIf="pessoaFisica.id">
        <mat-icon>delete</mat-icon>Excluir
      </button>
    </div>

    <br>
    <br>
  </form>

  <app-list-endereco *ngIf="pessoaFisica.id"></app-list-endereco>
</div>